*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Lato', sans-serif;
}
/*common/share style for button */
.btn-primary{
    padding:12px;
    color:white;
    background-color:#E55473;
    border-radius: 5px;
    font-weight: 500;
    width: 150px;
    height: auto;
    
}
.btn-primary:hover{
    background-color:red;
}
/*header stye start*/
.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center; 
   background: rgba(229, 84, 115, 0.10);;
}

.header-img{
    width: 250px;
    height: 300px;
}
.header-title{
   color:#272727;
   font-size: larger;
   font-weight: 800;
   margin-bottom: 8px;
  
}
.header-description{
    font-weight: 300;
    line-height:25px;
    font-size: 15px;
    color:rgba(39, 39, 39, 0.60);
    margin-bottom: 10px;
}
/* header style end..*/
/* featured style start*/
.featured-title{
    text-align: center;
    margin-top:100px;
    font-weight: 800;
    
}
.featured-description{
    text-align: center;
    margin-top: 10px;
    color:rgba(39, 39, 39, 0.60);
    font-size: 13px;
    line-height: 20px;
}
/*featured style end..*/
/*flower tree style start*/
.flower-container{

}
.flower-box{
    width: 400px;
    height: 500px;
    background-color: red;
}
