*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Lato', sans-serif;
}
/*common/share style for button */
.btn-primary{
    padding:12px;
    color:white;
    background-color:#E55473;
    border-radius: 5px;
    font-weight: 500;
    width: 150px;
    height: auto;
    
}
.btn-primary:hover{
    background-color:red;
}
/*header stye start*/
.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center; 
   background: rgba(229, 84, 115, 0.10);;
}

.header-img{
    width: 250px;
    height: 300px;
}
.header-title{
   color:#272727;
   font-size: larger;
   font-weight: 800;
   margin-bottom: 8px;
  
}
.header-description{
    font-weight: 300;
    line-height:25px;
    font-size: 15px;
    color:rgba(39, 39, 39, 0.60);
    margin-bottom: 10px;
}
/* header style end..*/
/* featured style start*/
.featured-title{
    text-align: center;
    margin-top:100px;
    font-weight: 800;
    
}
.featured-description{
    text-align: center;
    margin-top: 10px;
    color:rgba(39, 39, 39, 0.60);
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 30px;
}
/*featured style end..*/
/*flower tree style start*/
.flower-container{
    display: flex;
    justify-content: space-around;
    
    height: 100vh;
}

.flower-box-1{
    width: 280px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);     
    position: relative;

 
} 
.flower-box-2{
    width: 280px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);  
    position: relative;

}
.flower-box-3{
    width: 280px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    position: relative;
}
.img{
position: absolute;
bottom:-4px;
right: 39px;
}
.flower-img{
    width: 200px;
    height: 300px;
}
.flower-img-2{
    width: 280px;
    height: 280px;
}
.img-2{
    position: absolute;
    bottom:-4px;
    right: -21px;
}
.flower-img-3{
    width: 200px;
    height:330px;
}
/*flower box end */
